<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Pagina de index </title>
</head>
<body>

    <a href="{% url 'simpleapp:logout' %}"> Logout </a> <br>
    <a href="{% url 'simpleapp:notify' %}"> Notify </a> <br>

    Welcome {{ utilizator }}

</body>

<script>
    let ws = new WebSocket('ws://localhost:8000/ws/here?subscribe-broadcast');
        ws.onopen = function() {
            console.log("websocket connected");
        };
        ws.onmessage = function(e) {
            console.log("Received: " + e.data);
            location.reload();
        };
        ws.onerror = function(e) {
            console.error(e);
        };
        ws.onclose = function(e) {
            console.log("connection closed");
        };
</script>

</html>